header{
    background-color: #594a4e;
}
body{
    background-color: #faeee7;
}
h2{
    color: #a38a7b;
}
.parrafo{
    background-color: #594a4e;
    color: #faeee7;
}
.coloreo{
    color: #faeee7;
    text-decoration: none;
}
.nav-link, .navbar-brand{
    color: #a38a7b;
    transition: all 1s;
}
.nav-link:hover{
    transform: scale(1.1);
    color: #faeee7;
}
.navbar-brand:hover{
    transform: scale(1.1);
    color: #faeee7;
}
.navbar-toggler{
    background-color: #a38a7b;
    transition: all 1s;
}
.navbar-toggler:hover{
    background-color: #faeee7;
    transform: scale(1.1);
}
.muestra{
    transition: all 1s;
}
.muestra:hover{
    transform: scale(1.15);
    background-color: #594a4e;
    color: #faeee7;
}